body {
  background: #6047ec;
  color: #fff;
}
.container {
  width: 400px;
  background: rgb(251, 0, 155);
  height: 300px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}
form {
  border: 1px solid #fff;
}
input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 12px;
  display: block;
  width: 300px;
  margin: 5px auto;
}
#btn {
  width: 322px;
  color: #fff;
  background: #6047ec;
}
.resut {
  text-decoration: underline;
}
